In [22]:
from yfcache import YFCache
c=YFCache()

In [34]:
e=c.get_ticker('EQQQ.SW').history
q=c.get_ticker('QQQ').history

xe = e.copy()
xe.set_index(xe.index.date)
xe

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Capital Gains
Date,,,,,,,,
2009-01-05 00:00:00+01:00,28.398884,28.712990,28.398884,28.658207,798,0.0,0.0,0.0
2009-01-06 00:00:00+01:00,28.996044,28.996044,28.996044,28.996044,0,0.0,0.0,0.0
2009-01-07 00:00:00+01:00,28.629840,28.629840,28.269543,28.269543,0,0.0,0.0,0.0
2009-01-08 00:00:00+01:00,28.001624,28.050404,27.955432,28.050404,140,0.0,0.0,0.0
2009-01-09 00:00:00+01:00,27.824802,27.824802,27.824802,27.824802,0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
2024-10-29 00:00:00+01:00,498.950012,501.200012,496.399994,499.899994,18171,0.0,0.0,0.0
2024-10-30 00:00:00+01:00,503.600006,504.000000,500.000000,501.799988,4138,0.0,0.0,0.0
2024-10-31 00:00:00+01:00,493.850006,495.899994,486.799988,488.000000,13252,0.0,0.0,0.0
2024-11-01 00:00:00+01:00,488.350006,492.799988,487.750000,491.649994,9518,0.0,0.0,0.0
2024-11-04 00:00:00+01:00,490.899994,491.149994,489.600006,490.399994,1407,0.0,0.0,0.0

In [27]:
import pandas as pd
pd.concat([e['Close'],q['Close']])

Date
2009-01-05 00:00:00+01:00     28.658207
2009-01-06 00:00:00+01:00     28.996044
2009-01-07 00:00:00+01:00     28.269543
2009-01-08 00:00:00+01:00     28.050404
2009-01-09 00:00:00+01:00     27.824802
                                ...
2024-10-28 00:00:00-04:00    495.399994
2024-10-29 00:00:00-04:00    500.160004
2024-10-30 00:00:00-04:00    496.380005
2024-10-31 00:00:00-04:00    483.850006
2024-11-01 00:00:00-04:00    487.429993
Name: Close, Length: 10443, dtype: float64